# requirements.txt
sqlalchemy>=1.4,<2.0 # Fijamos versión mayor por compatibilidad si es necesario
passlib[bcrypt]>=1.7
yfinance>=0.2 # Versión más reciente posible
pandas>=1.3
alembic>=1.7
# Añadiremos más si son necesarias